@font-face {
  font-family: verlag-black;
  src: url("../public/fonts/Verlag-Black.otf");
}

@font-face {
  font-family: verlag-bold;
  src: url("../public/fonts/Verlag-Bold.otf");
}

@font-face {
  font-family: verlag-regular;
  src: url("../public/fonts/Verlag-Regular.otf");
}

@font-face {
  font-family: verlag-light;
  src: url("../public/fonts/Verlag-Light.otf");
}

body {
  background-color: #f3f2f3;
}

label {
  margin-bottom: 2px;
}

.font-verlag-black {
  font-family: verlag-black, sans-serif;
}

.font-verlag-bold {
  font-family: verlag-bold, sans-serif;
}

.font-verlag-regular {
  font-family: verlag-regular, sans-serif;
}

.font-verlag-light {
  font-family: verlag-light, sans-serif;
}

.main-title {
  font-family: "verlag-black", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}

.description {
  font-family: "verlag-regular", sans-serif;
  font-size: 16px;
}

.bg-eggplant {
  background-color: #5e4659;
}

.text-eggplant {
  color: #5e4659;
}

.tracking-wide {
  letter-spacing: 3px;
}

.text-sm {
  font-size: 15px;
}

/* === Customize Style === */
.main-button {
  background-color: #5e4659;
  color: #fff;
  transition: all 300ms ease;
  border-radius: 0;
  padding: 8px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-button:hover {
  background-color: #fff;
  color: #5e4659;
  outline: 1px solid #5e4659;
}

.main-button:focus {
  outline: 1px solid #5e4659;
  box-shadow: none;
}

.count-button {
  border: none;
  padding: 5px;
}

.form-control {
  background-color: #e8e7e8;
  border: 1px transparent;
}

.form-control:focus {
  outline: 1px solid #5e4659;
  box-shadow: none;
}

/* === Calendar Style === */

.rmdp-calendar {
  margin: 0 auto;
}

.rmdp-header-values {
  display: flex;
  margin-left: 0 !important;
  text-transform: uppercase;
  font-family: "verlag-bold", sans-serif;
  color: #5e4659 !important;
}

.rmdp-header-values span {
  position: relative;
  background-color: #f3f2f3;
  z-index: 10;
  padding: 0px 10px !important;
}

.rmdp-header-values::after {
  content: "";
  position: absolute;
  border: 1px solid #5e4659;
  width: 95%;
  padding-right: 0px;
  align-self: center;
  margin-left: auto;
}

.rmdp-week-day {
  color: #5e4659 !important;
}

.rmdp-day.rmdp-selected span:not(.highlight),
.rmdp-day.rmdp-today span {
  background-color: #5e4659 !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #bd94ae !important;
}

/* === End of Calendar Style === */

@media (min-width: 1200px) {
  .main-title {
    font-size: 35px;
  }

  .description {
    font-size: 18px;
  }
}

.menu-available-date {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 4px;
  transition: all 150ms ease-in;
}

.menu-available-date:hover {
  background-color: #bd94ae;
  color: white;
}

.menu-available-date.active {
  background-color: #5e4659;
  color: white;
}